<div class="about_us">
    <div class="about-us_description">
        <h2>Sobre nosotros</h2>
        <hr>
        <p>Ecogaia nace con el objetivo de reducir el impacto ambiental de la contaminacion y te <b>invitamos</b> a que
            nos
            acompañes en el camino teniendo un estilo de vida mas sostenible con el medio ambiente.</p>
        <p>Podemos contribuir a reducir el impacto ambiental en nuestro día a día con pequeñas acciones. Cada pequeña
            acción suma y juntos podemos hacer una gran diferencia. Ofrecemos productos <b>conscientes</b> y amigables
            con tu
            cuerpo y con la Tierra.</p>
    </div>
    <div class="contact_ribbon">
        <h2>Contáctanos</h2>
        <a href="https://api.whatsapp.com/send?phone=573152842614" target="_blank">
            <p class="contact_phone">
                <i class="uil uil-whatsapp"></i>
                + 57 3152842614
            </p>
        </a>
        <a href="https://www.instagram.com/ecogaia.co/" target="_blank">
            <p class="contact_phone">
                <i class="uil uil-instagram"></i>
                @ecogaia.co
            </p>
        </a>
        <p class="localization">Bucaramanga, Colombia.</p>
    </div>
</div>